#rw_category_key_zen span.rw_dropdown_btn {
  display:none;
}

body #rw_category_key_zen {
  display:none !important;
}

body.anonymous #rw_category_key_zen {
  display:inline-block !important;
}

body.anonymous #rw_category_key_es {
  display:none !important;
}



