img.footerlogo {
    background-color: #ffffff;
    border-radius: 7px;
    margin: -5px 0;
    padding: 10px;
    width: 90%;
    max-width: 200px;
}

div.zenmem-footer a {
    color: rgb(153, 153, 153) !important; 
}